body {
    background: rgb(171,11,180);
    background: linear-gradient(90deg, rgba(171,11,180,1) 0%, rgba(117,8,173,1) 48%, rgba(156,0,255,1) 83%);
    color: white;
}

header {
    
}

header h1 {
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.container {
    
}
 .container p {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
 }

div {
    
}

 .primeira-pessoa img {
    width: 25%;
    float: left;
    margin-left: 10%;
    margin-top: 6%;
    display: flex;
  
 }

 .primeira-pessoa p {
    margin-top: 15%;
   margin-right: 20%;
    float: right;
    font-size: 40px;
 }